@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
	font-family: "Noto Sans", "Noto Sans TC";
}

h1 {
	font-family: inherit;
	text-transform: none;
	line-height: 6rem;
}

.subheading {
	font-family: inherit;
	text-transform: none;
	margin-top: 1rem;
}